@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400&display=swap');


body::-webkit-scrollbar{
    width: 15px;
}

body::-webkit-scrollbar-thumb{
    background: rgb(10, 69, 10);
    border-radius: 3px 3px 3px 3px;
}

@keyframes show {
    from {
        opacity: 0;
        scale: 25%;
    }

    to {
        opacity: 1;
        scale: 100%;
    }

   
}

img {
    border-radius: 3px 3px 0 0;    
}



.img {
    view-timeline-name: --img;
    view-timeline-axis: block;

    animation-timeline: --img;
    animation-name: show;

    animation-range: entry 25% cover 30%;
    animation-fill-mode: both;

    border: 1px solid rgb(8, 51, 4);

    border-radius: 5px 5px 0px 0px;
    padding: 0.2px;
}

.statusBorder {
    border: 1px solid rgb(8, 51, 4);
}

.backgroundApp {
    background-color: #011801;
    background-image: linear-gradient(254deg, #030900 0%, #030a03 18%, #000000 48%, #000000 75%, #020f02 100%);
    
}

.headerBackground {
content: "";
width: 200px;
height: 200px;
border-radius: 885px;
opacity: 0.42;
background: radial-gradient(80% 80% at 47.83% 48.23%, #8EFF8B 72.49%, #020A02 88.45%);
filter: blur(120px);
}


.loader {
    width: 60px;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,#05640d 90%,#0000);
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }


  .ocultar {
   display: none;
   height: 30px;
   
  
  }

  @media screen and (max-width: 640px) {
    .ocultar {
        visibility: hidden;
       
        
    }
  }

  @media screen and (min-width: 640px) {
    .mostrar {
        display: block;
        height: 70px;
        
      
    }
  }

  
.flecha {
    width: 20px;
    aspect-ratio: 1.154;
    clip-path: polygon(50% 0,100% 100%,0 100%);
    --c:no-repeat linear-gradient(#062d0d 0 0);
    background: var(--c),var(--c),var(--c),var(--c),var(--c);
    background-size: 100% calc(100%/5 + 1px);
    animation: l15 2s infinite;
    rotate: 180deg;
  }
  @keyframes l15 {
    0%  {background-position: 0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4)}
    20% {background-position: 0 calc(4*100%/4) ,0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4)}
    40% {background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(-2*100%/4),0 calc(-2*100%/4),0 calc(-2*100%/4)}
    60% {background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(2*100%/4) ,0 calc(-2*100%/4),0 calc(-2*100%/4)}
    80% {background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(2*100%/4) ,0 calc(1*100%/4) ,0 calc(-2*100%/4)}
    100%{background-position: 0 calc(4*100%/4) ,0 calc(3*100%/4) ,0 calc(2*100%/4) ,0 calc(1*100%/4) ,0 calc(0*100%/4)}
  }

  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none; /* Elimina la apariencia predeterminada de los botones */
    appearance: none;
    margin: 0; /* Elimina el margen predeterminado */
  }